.nav {
    justify-content: center;
    margin-top: 10px;
}


.panels {
    display: flex;
    justify-content: center;
}

.alert {
    width: 80%;
    margin-inline: auto;
    margin-top: 30px;
}

.progress {
    width: 80%;
    margin-inline: auto;
    margin-top: 30px;
}