.result {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 95%;

    h5 {
        text-align: center;
    }

    img {
        height: 30px;
    }

    .main-results-buttons {
        justify-content: end;
    }

    .detail-buttons {
        margin-bottom: 10px;
        justify-content: space-between;
    
        Button {
            padding: 5px 10px 7px 11px;
        }
    }

    .slide-window {
        transition: transform 0.5s ease;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .slide-right {
        transform: translateX(100%);  // Start off to the right
    }

    .slide-left {
        transform: translateX(-100%);  // Start off to the left
    }

    // Visible positions
    .slide-in-right {
        transform: translateX(0);  // Slides in from the right
    }

    .slide-in-left {
        transform: translateX(0);  // Slides in from the left
    }
    

    .icon-text-div {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
        }
    }

    #forecast-tabs {
        display: flex;
        justify-content: flex-end;
    }
}
