.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 95%;

    h5 {
        text-align: center;
    }

    img {
        height: 30px;
    }

    .main-results-buttons {
        justify-content: end;
    }

    .detail-buttons {
        margin-bottom: 10px;
        justify-content: space-between;
    
        Button {
            padding: 5px 10px 7px 11px;
        }
    }

    .icon-text-div {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0;
        }
    }

    
}
